# Ignore object files
*.o

# Ignore executable files (common in C projects)
a.out
*.exe
cred_manager

# Ignore temporary files
*~
*.swp

# Ignore build directories (if any are created)
build/
dist/

# Ignore dependency files
*.d

*.txt

*.md

!README.md

*.bak

archive/

*.sublime-workspace

*.sublime-project

.vscode/
